{% extends "homepage/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<!-- Start content Section-->
<div class='content-section pt-5'>
    <div class='container'>
        <div class='row '>
            <div class='col-md-4 pl-3'>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Log In</legend>
                        {{ form|crispy  }} <!--form variable with crispy formatting-->
                    </fieldset>
                    <div class='form-group'>
                        <button class="btn btn-light btn-outline-secondary" type'"submit">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>>
<!-- End content Section-->

<!-- wedding_countdown -->
<div class="weeding_countdown_area">
    <div class="flowaers_top d-none d-lg-block">
        <img src="{% static 'homepage/img/banner/flower-top.png' %}" alt="">
    </div>
    <div class="flowaers_bottom d-none d-lg-block">
            <img src="{% static 'homepage/img/banner/flower-bottom.png' %}" alt="">
        </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center">
                    <img src="{% static 'homepage/img/banner/flowers.png' %}" alt="">
                    <span>14. January. 2020</span>
                    <h3>THE. WEDDING. Countdown</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div id="clock" class="countdown_area counter_bg ">
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ wedding_countdown -->


{% endblock content %}