{% extends "homepage/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <!-- bradcam_area  -->
    <div class="bradcam_area text-center bradcam_bg overlay3">
        <div class="bradcam_text">
        <h3><b>RSVP</b></h3>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- accommodation_area  -->
    <div class="accommodation_area">
        <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                            <div class="section_title text-center">
                                <h1>Wedding Location Details</h1>
                                <br>
                                <p>Join us for our outdoor wedding! Please dress nice in as many fall colors as possible, and understand that you are most likely going to get your shoes dirty walking through meadows and trees. Please wear shoes that have a good amount of support and bring a jacket! We will have ushers driving people that are worried about the walk. Be sure to include on your RSVP that you would like help getting to the ceremony in the ‘Messages for the Happy Couple’ section and we will be happy to assist you! <br><br></p>
                                <h2>RSVP Below</h2>
                            </div>
                        </div>
                    </div>
            <div class="row no-gutters">
                <div class="col-xl-12 col-lg-12">
                    <div class="accommondation_image">
                        <img src="{% static 'homepage/img/Accommodation/4.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="accommondation_image">
                        <img src="{% static 'homepage/img/Accommodation/5b.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="accommondation_image">
                        <img src="{% static 'homepage/img/Accommodation/6.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ accommodation_area  -->
    <p><br></p>
    <!-- Start Align Area -->
    <div class="whole-wrap">
		<div class="container box_1170">
            <div class="row">
                <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1     padding:20px">
                    <div class="main_attending_area">
                        <div class="row justify-content-center">
                            <div class="col-xl-7 col-lg-8">
                                <div class='container'>
                                    <form method='POST'>
                                        {% csrf_token %}
                                        <fieldset class='form-group'>
                                            <legend class='border-bottom    mn-4'>Please let us know if you can attend</legend>
                                            {{ form|crispy }}
                                        </fieldset>
                                        <div class='form-group'>
                                            <button class='btn btn-outline-info'    type="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p><br></p>
            <div class="location_info">
                <div class="location_inner">
                    <div class="location_top text-center">
                            <h2>Ceremony</h2>
                            <p><a href="https://goo.gl/maps/NX1n4zt7SFjeZkB46">27085 Grey Moose Trail, Conifer, CO 80433</a> <br>
                                    <span>2:00p - 3:00p</span> </p>
                    </div>
                    <div class="address_info d-flex justify-content-between">
                        <div class="single_address text-center">
                            <h3>Cocktails</h3>
                            <p>3:00p - 4:30p <br>
                                    Kim and Jay's Place</p>
                        </div>
                        <div class="single_address text-center">
                            <h3>Reception</h3>
                            <p>4:30p – 8:30p <br>
                                Kim and Jay's Place</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
	</div>
	<!-- End Align Area -->

{% endblock content %}
