{% extends "homepage/base.html" %}
{% load static %}

{% block content %}

    <!-- slider_area -->
    <div class="slider_area">
        <div class="slider_area_inner slider_bg_1 overlay2">
            <div class="slider_text text-center">
                <div class="text_inner">
                    <img src="{% static 'homepage/img/banner/ornaments.png' %}" alt="">
                    <h4>26 Sept 2020</h4>
                    <h3>Doug & Bethany <br>
                        Wedding Ceremony</h3>
                    <span>Celebrate with Us!</span>
                </div>
            </div>
        </div>
    </div>
    <!--/ slider_area -->

    <!-- wedding_countdown -->
    <div class="weeding_countdown_area">
        <div class="flowaers_top d-none d-lg-block">
            <img src="{% static 'homepage/img/banner/flower-top.png' %}" alt="">
        </div>
        <div class="flowaers_bottom d-none d-lg-block">
            <img src="{% static 'homepage/img/banner/flower-bottom.png' %}" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center">
                        <img src="{% static 'homepage/img/banner/flowers.png' %}" alt="">
                        <span>26th of September, 2020</span>
                        <h3>Countdown to the Big Day</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div id="clock" class="countdown_area counter_bg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ wedding_countdown -->

    <!-- our_love-story -->
    <div class="love_story_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center">
                        <img src="{% static 'homepage/img/banner/flowers.png' %}" alt="">
                        <h3>Our Love Story</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_lover_story text-center">
                        <div class="story_thumb">
                            <img src="{% static 'homepage/img/story/D_Head_2.png' %}" alt="">
                        </div>
                        <span>Groom</span>
                        <h3>Doug Naes</h3>
                        <p>Doug is kind and gentle, silly and goofy, genuine and loving. He is inviting. If he loves something, the people around him will know just for the sheer fact that they will be included in his excitement. He understands that people are made in the Image of God and treats them with the utmost value because of his understanding. The look that he gives Bethany has never changed: always with awe and passion. Because of his constant pursuit of the Lord (and his assurance in the Lord’s constant pursuit of him), he is continuously humbling himself to raise Bethany up. He leads her well, he guides her in everything they do, and he pushes her to be the best woman of God she can be. -"Bethany"</p>
                        <div class="social_links">
                            <ul>
                                <li><a href="https://www.facebook.com/doug.naes"> <i class="fa fa-facebook"></i> </a></li>
                                <li><a href=https://www.youtube.com/channel/UCpf2Ai9rnEK1IvIEykbEv4w> <i class="fa fa-youtube"></i> </a></li>
                                <li><a href="https://www.instagram.com/dougnaes/"> <i class="fa fa-instagram"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="weding_time_line text-center">
                        <div class="single_time_line">
                            <h3>First Met</h3>
                            <p>At Doug’s sister’s birthday dinner, they shared a mutual love of How to Lose a Guy in 10 Days and wanted to spend every moment possible together after that</p>
                        </div>
                        <div class="single_time_line">
                            <h3>He Proposed</h3>
                            <p>Doug couldn’t wait any longer once he got the ring in, so immediately got all the family together and popped the question at Lookout Mountain. Bethany was just so overjoyed that she couldn’t stop the happy-tears from flowing.</p>
                        </div>
                        <div class="single_time_line">
                            <h3>Love Story</h3>
                            <p>They get to learn to love each other the way Scripture advises: with humble submission, Christ-like love, and dedication.</p>
                        </div>
                        <!--
                        <div class="single_time_line">
                            <h3>Wedding Day</h3>
                        </div>
                        -->
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="single_lover_story text-center">
                        <div class="story_thumb">
                            <img src="{% static 'homepage/img/story/B_Head_2.png' %}" alt="">
                        </div>
                        <span>Bride</span>
                        <h3>Bethany Sayers</h3>
                        <p>The middle name Joy couldn’t be a more apt description of the kind of person Bethany is – joyful. She is full of life and she exudes happiness. Bethany is as bold as she is humble, and one of the most genuinely caring people you’ll meet. Bethany is defined by her core family values, and her identity is in Christ alone. As any of her closest friends and family would tell you, Bethany is fiercely loyal, and she embodies what it means to treat her neighbor as she’d treat herself. She loves Doug unconditionally, and is committed to being is life-long best friend. -"Doug"</p>
                        <div class="social_links">
                            <ul>
                                <li><a href="https://www.facebook.com/bethany.joy.77"> <i class="fa fa-facebook"></i> </a></li>
                                <li><a href="https://www.instagram.com/bethanyjoy_s/"> <i class="fa fa-instagram"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ our_love-story -->

    <!-- gallery_area  -->
    <div class="gallery_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center">
                        <img src="{% static 'homepage/img/banner/flowers.png' %}" alt="">
                        <h3>Gallery Photos</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-0">
            <div class="row grid no-gutters">
                <div class="col-xl-4 col-md-6 col-lg-6 grid-item">
                    <div class="single_gallery gallery_imag_1">
                        <a class="popup-image" href="{% static 'homepage/img/gallery/gallery_pic1b.jpg' %}">
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6 grid-item">
                    <div class="single_gallery gallery_imag_2">
                        <a class="popup-image" href="{% static 'homepage/img/gallery/gallery_pic2b.jpg' %}">
                        </a>
                    </div>
                </div>
                <div class="col-xl-5 col-md-6 col-lg-6 grid-item">
                    <div class="single_gallery gallery_imag_3">
                        <a class="popup-image" href="{% static 'homepage/img/gallery/gallery_pic3b.jpg' %}">
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6 grid-item">
                    <div class="single_gallery gallery_imag_4">
                        <a class="popup-image" href="{% static 'homepage/img/gallery/gallery_pic4b.jpg' %}">
                        </a>
                    </div>
                </div>
                <div class="col-xl-5 col-md-6 col-lg-6 grid-item">
                    <div class="single_gallery gallery_imag_5">
                        <a class="popup-image" href="{% static 'homepage/img/gallery/gallery_pic5b.jpg' %}">
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-6 grid-item">
                    <div class="single_gallery gallery_imag_6">
                        <a class="popup-image" href="{% static 'homepage/img/gallery/gallery_pic6b.jpg' %}">
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-6 grid-item">
                    <div class="single_gallery gallery_imag_7">
                        <a class="popup-image" href="{% static 'homepage/img/gallery/gallery_pic7b.jpg' %}">
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6 grid-item">
                    <div class="single_gallery gallery_imag_8">
                        <a class="popup-image" href="{% static 'homepage/img/gallery/gallery_pic8c.jpg' %}">
                        </a>
                    </div>
                </div>
                <div class="col-xl-5 col-md-6 col-lg-6 grid-item">
                    <div class="single_gallery gallery_imag_9">
                        <a class="popup-image" href="{% static 'homepage/img/gallery/gallery_pic9b.jpg' %}"></a>
                    </div>
                </div>
            </div>
            <div class="grid row">
                <!--<div class="single_image grid-item">
                    <img src="img/gallery/1.png" alt="">
                </div><div class="single_image grid-item">
                    <img src="img/gallery/2.png" alt="">
                </div><div class="single_image grid-item">
                    <img src="img/gallery/3.png" alt="">
                </div>-->
            </div>
        </div>
    </div>
    <!--/ gallery_area  -->

    <!-- program_details -->
    <!--
    <div class="program_details_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center">
                        <img src="{% static 'homepage/img/banner/flowers.png' %}" alt="">
                        <h3>Registry Details</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4">
                    <div class="single_program program_bg_1 text-center">
                        <div class="program_inner ">
                            <span>
                                14:00
                            </span>
                            <h3>Ceremony</h3>
                            <p></p>
                            <img src="{% static 'homepage/img/program_details/ornaments.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="single_program program_bg_2 text-center">
                        <div class="program_inner ">
                            <span>
                                15:00
                            </span>
                            <h3>Cocktails</h3>
                            <p></p>
                            <img src="{% static 'homepage/img/program_details/ornaments.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="single_program program_bg_3 text-center">
                        <div class="program_inner ">
                            <span>
                                16:30
                            </span>
                            <h3>Reception</h3>
                            <p></p>
                            <img src="{% static 'homepage/img/program_details/ornaments.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    --> 
    <!--/ program_details -->
       

{% endblock content %}